<div class="optionbar">
  <div class="topbar">
    <ul>
      <li><%= link_to "Home", "index" %></li>
      <li><%= link_to "Accomplishments/Awards", "accomplishments" %></li>
      <li><%= link_to "Publications", "publications" %></li>
      <li><%= link_to "The ReRout Lab @ OSU", "reroutlab" %></li>
      <li><%= link_to "STC Sustainable Computing", "http://stc-sustainable-computing.ieee.net" %></li>
      <li><%= link_to "ACM-W", "http://acmwosu.github.io" %></li>
    </ul>
  </div>
</div>
